body {
    background: url("/static/images/favourites-wallpaper.png");
    background-color: #FFFFFF;
    width: 100%;
}

.row1-favourites {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.row2-favourites {
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 100px;
}

.favourites-title {
    height: 60px;
    padding-right: 36px;
    width: 66vw;
}
@media screen and (max-width: 500px){.favourites-title {height: 40px;}}

.favourites-heading {
    color: #DD5448;
    font-family: OldStandardTT, Georgia, Serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: left;
}
@media screen and (max-width: 500px){.favourites-heading {font-size: 20px;}}

#pink-favourites-box {
    background-color: #FFFCF9;
    height: 30px;
    width: 210px;
}

.favourites-container {
    align-items:center;
    display: flex;
    background-color: #F0F9F7;
    border: 2px solid #F0F9F7;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    padding: 30px 0 40px 0;
    width: 70vw;
}
@media screen and (max-width: 800px) {.favourites-container {width: 80vw;}}
@media screen and (max-width: 600px) {.favourites-container {padding: 10px 0 20px 0; width: 94vw;}}
@media screen and (max-width: 500px) {.favourites-container {margin-bottom: 20px;}}

.favourite-tree-image {
    height: 130px;
    margin: 0 30px;
    object-fit: contain;
    width: 180px;
}
@media screen and (max-width: 800px) {.favourite-tree-image {height: 100px; margin: 0 20px; width: 138px;}}
@media screen and (max-width: 600px) {.favourite-tree-image {height: 70px; width: 97px;}}
@media screen and (max-width: 500px) {.favourite-tree-image {height: 50px; margin: 0 10px; width: 69px;}}

.favourite-text {
    margin-bottom: 20px;
    width: 60%;
}

.favourite-paragraph {
    color: #5A634D;
    font-family: Mate-Regular, Georgia, Serif;
    font-size: 18px;
    letter-spacing: 1.29px;
    line-height: 1.2em;
    margin-bottom: -10px;
    text-align: left;
}
@media screen and (max-width: 800px) {.favourite-paragraph{font-size: 14px;}}
@media screen and (max-width: 500px) {.favourite-paragraph{font-size: 12px;}}

h3.favourite-paragraph {
    font-family: OldStandardTT, Georgia, Serif;
    font-weight: bold;
}
@media screen and (max-width: 500px) {h3.favourite-paragraph{font-size: 16px;}}

.hug-type {
    color: #5A634D;
    font-family: Mate-Regular, Georgia, Serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1.29px;
    margin-bottom: -2px;
}
@media screen and (max-width: 500px) {.hug-type{font-size: 11px;}}

/****Remove Favourite Button ****/
.remove-favourite {
    color: #5A634D;
    display: block;
    font-size: 40px;
    margin-right: 40px;
    text-align: right;
}
.remove-favourite:hover,
.remove-favourite:focus {
    color: #3f9279;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 800px) {.remove-favourite {font-size: 30px;}}
@media screen and (max-width: 500px){.remove-favourite {margin-right: 16px;}}


/****************Remove Tree Dialogue Widget Styling *********************/
.ui-widget.remove-tree-dialog {
    color: #5A634D;
    display: block;
    font-family: Mate-Regular, Georgia, Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.93px;
    line-height: 27px;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 500px){.ui-widget.remove-tree-dialog{font-size: 14px; line-height: 17px;}}

.ui-widget-content.remove-tree-dialog {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #5A634D;
}

.ui-dialog.remove-tree-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog.remove-tree-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    margin: 0;
    padding-top: 20px;
}

.ui-dialog.remove-tree-dialog .ui-widget-header {
    display: none;
}

.ui-dialog.remove-tree-dialog .ui-dialog-titlebar {
    display: none;
}

.remove-tree-title {
    color: #5A634D;
    font-family: OldStandardTT, Georgia, Serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 26px;
}
@media screen and (max-width: 500px){.remove-tree-title{font-size: 14px;}}

.broken-heart {
    height: auto;
    width: 80px;
}
@media screen and (max-width: 500px){.broken-heart{width: 40px;}}

/*** Buttons on Dialogue Widget ****/
.ui-dialog .ui-dialog-buttonpane {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border-width: 0 0 0 0;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
    display: flex;
    justify-content: space-around;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 2em 1em 2em;
}

.ui-dialog-buttonpane button, .ui-button:focus {
    background-color: #FFFFFF;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #5A634D;;
    color: #5A634D;
    cursor: pointer;
    font-family: Mate-Regular, Georgia, Serif;
    font-size: 18px;
    font-weight: 700;
    outline: 0;
    width: 100px;
}
@media screen and (max-width: 500px){.ui-dialog-buttonpane button, .ui-button:focus, .ui-button:hover, .ui-button:active {font-size: 14px; width: 70px;}}


.ui-button:hover, .ui-button:active {
    background-color: #FE7460;
    background-image: none;
    border: 2px solid #FE7460;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    outline: 0;
}
