header {
    height: 100px;
    top: 0;
    width: 100%;
    z-index: 30;
}

.brand img {
    display: block;
    height: 60px;
    margin-left: 86px;
    margin-top: 40px;
    width: auto;
    z-index: 10;
}

@media screen and (max-width: 414px) {
    header {
        height: 44px;
    }

    .brand img {
        height: 40px;
        margin: 10px auto 0 auto;
        width: auto;
    }
}
