/**
font-family: 'Montserrat', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Mate', serif;

 **/

body {
    font-family: 'Mate', serif;
    font-size: 13px;
    line-height: 22px;
    background: url("/static/images/confetti-wallpaper.png");
    background-color: #FFFFFF;
    width: 100%;
}


.row1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.row2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 120px;
    background-color: #ffffff;
}


.box {
    width: 48vw;
}

.box2 {
    width: 25vw;
}

.explore {
    text-align: center;
}

.explore p {
    font-family: OldStandardTT-Italic, Georgia, Serif;
    font-style: italic;
    font-size: 32px;
    color: #535353;
    letter-spacing: 3px;
    line-height: 1.5em;
    width: 332px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}



#map {
    margin-top: 22px;
    margin-right: auto;
    margin-left: auto;
    height: 473px;
    width: 660px;
    -webkit-border-radius: 30px;
    border: 2px solid #B2D6B6;
    z-index:0;
}

.characters-title {
    width: 100%;
    height: 60px;
    position: relative;
    margin-bottom: 40px;
}

#pink-character-box {
    z-index: -1;
    background-color: #FFD7D2;
    width: 254px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    left: -30px;
    padding-right: 30px;
}

h1.characters-title {
    font-family: OldStandardTT;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1.67px;
    color: #5A634D;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img.characters {
    display: block;
    height: 96px;
    width: auto;
    margin: 20px auto;
}

p.characters {
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1440px) {
    #map {width: 560px;}}

@media screen and (max-width: 1244px) {
    #map {width: 460px;}
    p.characters {width: 200px;}}

@media screen and (max-width: 1024px) {
    #map {height: 440px; width: 420px;}
    .explore p {font-size: 28px;}
    p.characters {width: 160px;}}

@media screen and (max-width: 980px) {
    #map {height: 390px; width: 370px;}}

@media screen and (max-width: 768px) {

    .row1 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        align-items: center;
    }

    .row2 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }


    .box {
        width: 100vw;
    }

    .box2 {
        width: 100vw;
        margin-bottom: 50px;
    }

    #map {
        margin-right: auto;
        margin-left: auto;
        height: 472px;
        width: 560px;
    }

    .explore p {
        font-size: 30px;
    }

    p.characters {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {

     .explore p {
        font-size: 26px;
         width: 300px;
    }

    #map {
        width: 400px;
        height: 338px;
    }

     .box2 {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 456px) {
    #map {
        width: 300px;
        height: 254px;
    }
  .explore p {
        font-size: 22px;
         width: 280px;
    }

   p.characters {
        width: 240px;
    }
}