body {
    background: url("/static/images/confetti-wallpaper.png");
    background-color: #FFFFFF;
    width: 100%;
}

/**** Background Box Decorations ****/
#big-green-box {
    background-color: #F5F7F3;
    display: block;
    height: 474px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 168px;
    width: 246px;
    z-index: -2;
}
@media screen and (max-width: 768px) {
    #big-green-box {
        top: 658px;
        width: 46px;
        z-index: 0;
    }
}
@media screen and (max-width: 600px) {#big-green-box {top: 1000px; width: 40px;}}

#big-pink-box {
    background-color: #FFFCF9;
    display: block;
    height: 678px;
    position: absolute;
    right: 0;
    top: 30px;
    width: 463px;
    z-index: -2;
}
@media screen and (max-width: 1024px) {#big-pink-box {height: 580px;}}
@media screen and (max-width: 768px) {
    #big-pink-box {
        height: 408px;
        top: 81px;
        width: 276px;
    }
}
@media screen and (max-width: 600px) {#big-pink-box {width: 220px;}}
@media screen and (max-width: 456px) {#big-pink-box {width: 160px;}}


/**** Page Structure ****/

.row1 {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
    .row1 {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 320px) {.row1 {margin-bottom: 80px;}}

.row2 {
    align-items: center;
    -webkit-align-items: center;
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 60px;
    margin-top: 20px;
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    .row2 {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.box {
    width: 48vw;
}
@media screen and (max-width: 768px) {.box {width: 100vw;}}
.box2 {
    width: 25vw;
}
@media screen and (max-width: 768px) {.box2 {margin-bottom: 50px; width: 100vw;}}
@media screen and (max-width: 600px) {.box2 {margin-bottom: 30px;}}



/*** Main body of text for upper part of the page ***/
.explore {
    color: #535353;
    font-family: OldStandardTT-Italic, Georgia, Serif;
    font-size: 32px;
    font-weight: normal;
    height: auto;
    letter-spacing: 3px;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 332px;
}
@media screen and (max-width: 1024px) {.explore {font-size: 28px;}}
@media screen and (max-width: 600px) {.explore {font-size: 22px; width: 300px;}}
@media screen and (max-width: 456px) {.explore {font-size: 18px; width: 280px;}}


/**** Select (dropdowns) Styling (taken from w3) ****/
/* the container must be positioned relative: */
.custom-select {
    border: 1px #B6C3AD solid;
    border-color: #B6C3AD #B6C3AD transparent #B6C3AD;
    font-family: mate;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #FFFFFF;
    font-family: montserrat, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*style the arrow inside the select element:*/
select:focus option.holder {
    display: none;
}

.select-selected:after {
    border: 6px solid transparent;
    border-color: #EF4D36 transparent transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 16px;
    top: 24px;
    width: 0;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #EF4D36 transparent;
    top: 17px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    border: 1px solid transparent;
    border-color: transparent transparent #B6C3AD transparent;
    color: #444444;
    cursor: pointer;
    padding: 16px 16px;
    user-select: none;
}

/*style items (options):*/
.select-items {
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #F1A196;
    border: 1px solid transparent;
    border-bottom-color: #B6C3AD;
    color: #FFFFFF;
}

/*  End of Select Styling  */

/************ Map ********************/
#map {
    border: 2px solid #B2D6B6;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 473px;
    margin-left: auto;
    margin-right: auto;
    width: 660px;
    z-index:0;
}
@media screen and (max-width: 1440px) {#map {width: 560px;}}
@media screen and (max-width: 1244px) {#map {width: 460px;}}
@media screen and (max-width: 1024px) {#map {height: 440px; width: 420px;}}
@media screen and (max-width: 980px) {#map {height: 390px; width: 370px;}}
@media screen and (max-width: 768px) {#map {height: 472px; width: 560px;}}
@media screen and (max-width: 600px) {#map {height: 338px; width: 400px;}}
@media screen and (max-width: 456px) {#map {margin-top: 22px; height: 254px;width: 300px;}}
@media screen and (max-width: 320px) {#map {height: 220px; width: 260px;}}

/****  Bottom of the Page - The Trees ****/
.trees-title {
    height: 60px;
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

h1.trees-title {
    color: #5A634D;
    font-family: OldStandardTT, Georgia, Serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (max-width: 456px) {h1.trees-title {font-size: 24px;}}

#trees-pink-box {
    background-color: #FFD7D2;
    height: 42px;
    left: -30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    width: 254px;
    z-index: -1;
}

img.trees {
    display: block;
    height: 96px;
    margin: 20px auto;
    width: auto;
}

p.trees {
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
}
@media screen and (max-width: 1244px) {p.trees {width: 200px;}}
@media screen and (max-width: 1024px) {p.trees {width: 160px;}}
@media screen and (max-width: 768px) {p.trees {width: 300px;}}
@media screen and (max-width: 456px) {p.trees {width: 240px;}}

