/* The Modal (background) */
.modal {
    background-color: rgba(255,255,255, 0.9);
    display: none;
    height: 100%;
    left: 0;
    padding-top: 80px;
    position: fixed;
    top: 0;
    overflow: auto;
    width: 100%;
    z-index: 100;
}

/* Modal Content */
.modal-content {
    background-color: #F0F9F7;
    border: 2px solid #F0F9F7;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 0 auto 200px auto;
    padding: 20px;
    width: 392px;
}
@media screen and (max-width: 600px) {.modal-content{margin: 0 auto 180px auto; padding: 10px 20px; width: 250px;}}

/* Form Style for Register and Login */
.container-form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    width: 286px;
}
@media screen and (max-width: 600px) {.container-form {width: 246px;}}

label {
    color: #5A634D;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {label {left: -22px;}}

input[type=text], input[type=password] {
    background-color: #F0F9F7;
    border: none;
    border-bottom: 1px solid rgba(90, 99, 77, 0.60);
    box-sizing: border-box;
    color: #5A634D;
    font-family: 'Mate', serif;
    font-size: 17px;
    letter-spacing: 2.57px;
    margin: 16px 0;
    padding: 14px 0px;
    width: 100%;
}
@media screen and (max-width: 600px) {input[type=text]{margin: 12px 0; padding: 10px 0px;}}

input:focus {
    outline: none;
}

a.modalButton, button.modalButton {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid rgba(90, 99, 77, 0.60);
    color: #FE7460;
    height: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 44px;
    margin-left: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 264px;
}
@media screen and (max-width: 600px) {button.modalButton {width: 244px; margin-left: 0;}}

a.modalButton:hover, button.modalButton:hover {
    background-color: #FE7460;
    color: #FFFFFF;
}

/* Thank you Modal */
p.thank-you {
    color: rgba(90, 99, 77, 0.90);
    font-family: OldStandardTT-Italic, Georgia, Serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: center;
}

img.thank-you {
    display: block;
    height: auto;
    margin: 20px auto 20px auto;
    width: 36px;
}

/* The Close Button on all modals - X */
.close {
    color: #5A634D;
    float: right;
    font-family: Times, sans-serif;
    font-size: 30px;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: #3f9279;
    cursor: pointer;
    text-decoration: none;
}