{% extends 'base.html' %}
{% load static %}
{% block title %}about - hug a tree{% endblock %}

{% block body_block %}

<div class="row">
     <h1 class="default">about hug a tree and the hugging gang</h1>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class="about"> Tom Robbins once wrote: I need to babble with a brook or two, inhale starlight,
                make friends with some trees. Hug a Tree helps the 'stadteinsamen' people of Vancouver, BC make friends
                with all sorts of trees and keep track of them. So facebook for people
                and trees? Yes.
            </p>

            <p class="about">The hugging gang is made up of Curtis Hermanson, Alexis Jensen, Wenny Jiang and Joy Zhao.
                We are undergrads of UBC in the Computer Science department tasked with building a web application for
                our software engineering class. The datasets for this project were provided by the City of Vancouver.
            </p>

            <p class="about">Happy hugging.</p>
        </div>

        {% endblock %}