{% extends 'base.html' %}
{% load static %}

<!-- Tree detail page masquerading as about till urls all hooked up -->
<!-- Uncomment when models implemented and erase dummy one -->
{#{% block title %}tree no. {{treeId}}{% endblock %}#}
{% block title %}tree no. 234{% endblock %}

{% block body_block %}
    <div id="tree-detail-green-box"></div>
    <div class="row1-treeDetail">
        <!-- Map Section -->
        <div class="box-treeDetail">
            <div id="tree-detail-map"></div>
        </div>

        <!-- Tree Information Section -->
        <div class="box-treeDetail">
            <div class="tree-info-container">
                <label>Tree ID</label>
                <p class="shortAnswer">234</p>
                <div class="tree-info-line"></div>
                <label>Name</label>
                <p class="shortAnswer">Maple Tree</p>
                <div class="tree-info-line"></div>
                <label>Diameter</label>
                <p class="shortAnswer">5 Inches</p>
                <div class="tree-info-line"></div>
                <label>Date Planted</label>
                <p class="shortAnswer">May 23, 1997</p>
                <div class="tree-info-line"></div>
                <label>Neighbourhood</label>
                <p class="shortAnswer">Kitsilano</p>
                <div class="tree-info-line"></div>
                <h3 class="tree-type-more-info">More about {Insert Tree Types Here}</h3>
                <label>Description</label>
                <p class="longAnswer">A medium to large sized tree, reaching heights of 18 to 27 metres (60 to 90 ft) and exceptionally over 35 metres (115 feet). The leaves are usually 9 to 11 centimetres (3 1⁄2 to 4 1⁄4 in) long on a full grown tree. The trunk diameter can range from 46 to 76 cm (18 to 30 in), depending on the growing conditions</p>
                <label>Habitat</label>
                <p class="longAnswer">One of the most abundant and widespread trees in eastern North America. It can be found from the south of Newfoundland, Nova Scotia and southern Quebec to the south west of Ontario, extreme southeastern Manitoba and northern Minnesota; south to Wisconsin, Illinois, Missouri, eastern Oklahoma, and eastern Texas in its western range; and east to Florida. It has the largest continuous range along the North American Atlantic Coast of any tree that occurs in Florida. In total it ranges 2,600 km (1,600 mi) from north to south.[6] The species is native to all regions of the United States east of the 95th meridian.</p>
                <label>Uses (other than hugging)</label>
                <p class="longAnswer">In the lumber industry Acer rubrum is considered a "soft maple", a designation it shares, commercially, with silver maple  It is also used in the production of maple syrup. It is a medium quality firewood.</p>
            </div>
        </div>
    </div>


    <!-- Photo Section -->
    <div class="characters-title" id="orange-box" id="tree-detail-pink-box">
        <h1 class="characters-title">Photos</h1>
    </div>
     <div id="tree-detail-pink-box"></div>
    <div class="row2-treeDetail">
        <img class="tree-photo" src="{%  static 'images/photo.png' %}" alt="tree hugger 1">
        <img class="tree-photo" src="{%  static 'images/photo2.png' %}" alt="tree hugger 2">
    </div>



    <!-- Map  and its Styling Script -->
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('tree-detail-map'), {
                center: {lat: 49.270831, lng: -123.15999},
                zoom: 17,
                gestureHandling: 'greedy',
                styles: [
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffebc5"
                            },
                            {
                                "lightness": "-10"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#b70046"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            },
                            {
                                "weight": "0.50"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#ff850a"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "color": "#c85b5b"
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#f79a55"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#a5a2a2"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "saturation": "-71"
                            },
                            {
                                "lightness": "-2"
                            },
                            {
                                "color": "#ffebc5"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#b2d5b6"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#c78888"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4c"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#7ccff0"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#cfeae4"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#109579"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]
            });
        }
    </script>

    <!-- Google API Key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLLf1AL8ZMRKireBuRIL_n6XD3W3bD5qc&callback=initMap"
            async defer></script>

{% endblock %}