{% extends 'base.html' %}
{% load static %}
{% block title %}favourites{% endblock %}
{% block styles %}<link href="{% static 'css/favourites.css' %}" rel="stylesheet">{% endblock %}

{% block body_block %}
    <div class="row1-favourites">
        <div class="favourites-title">
            <div id="pink-favourites-box">
                <h1 class="favourites-heading">Favourites</h1>
            </div>
        </div>
    </div>

    <!-- Tree Information Section -->
    <div class="row2-favourites">
        <div class="favourites-container">
            <img class="favourite-tree-image" src="{% static 'images/tree.png' %}">
            <div class="favourite-text">
                <h3 class="favourite-paragraph">Tree ID 234
                    <span style="font-size: 13px; font-weight: normal">is a small cuddle</span></h3>
                <p class="favourite-paragraph">Bowhall Maple Tree</p>
                <p class="favourite-paragraph">5 inches in diameter</p>
                <p class="favourite-paragraph">22 years old</p>
                <p class="favourite-paragraph">5400 Balsam Street</p>
                <p class="favourite-paragraph">Kitsilano</p>
            </div>
            <span class="remove-favourite">&times</span>
        </div>


     <div class="favourites-container">
            <img class="favourite-tree-image" src="{% static 'images/park.png' %}">
            <div class="favourite-text">
                <h3 class="favourite-paragraph">Park ID 456
                    <span style="font-size: 13px; font-weight: normal">is a center of love</span></h3>
                <p class="favourite-paragraph">Shirofugen Cherry Tree</p>
                <p class="favourite-paragraph">15 inches in diameter</p>
                <p class="favourite-paragraph">2 years old</p>
                <p class="favourite-paragraph">3800 MacDonald Street</p>
                <p class="favourite-paragraph">Kitsilano</p>
            </div>
            <span class="remove-favourite">&times</span>
        </div>
    </div>

{% endblock %}