{% extends 'base.html' %}
{% load static %}
{% block title %}
    {%  if tree_id is not None %}
        tree no. {{ tree_id }}
    {% endif %}

    {%  if food_id is not None %}
        food tree no. {{ food_id }}
    {% endif %}

    {%  if park_id is not None %}
        park no. {{ park_id }}
    {% endif %}
{% endblock %}
{% block styles %}<link href="{% static 'css/tree-detail.css' %}" rel="stylesheet">{% endblock %}
{% block body_block %}


    <div id="tree-detail-green-box"></div>
    <div class="row1-treeDetail">
        <!-- Map Section -->
        <div class="box-treeDetail">
            <div id="tree-detail-map"></div>
        </div>
        <div class="box-treeDetail">
            <div class="tree-info-container">
                <img id="heart" class="tree-detail-heart" src="{%  static 'images/heart-empty.png' %}" alt="heart">

                <!-- Tree Information Section -->
                {%  if tree_id is not None %}
                    <label>Tree ID</label>
                    <p class="shortAnswer">{{ tree_id }}</p>
                    <div class="tree-info-line"></div>

                    <label>Type of Hug</label>
                    {% if 10 >= diameter %}
                        <p class="shortAnswer">Small Cuddle</p>
                    {% endif %}
                    {% if 20 >= diameter and diameter > 10 %}
                        <p class="shortAnswer">Medium Embrace</p>
                    {% endif %}
                    {% if diameter > 20 %}
                        <p class="shortAnswer">>Large Nestle</p>
                    {% endif %}
                    <div class="tree-info-line"></div>

                    <label>Name</label>
                    <p class="shortAnswer">{{ common_name|title }}</p>
                    <div class="tree-info-line"></div>

                    <label>Diameter</label>
                    <p class="shortAnswer">{{ diameter }} Inches</p>
                    <div class="tree-info-line"></div>

                    <label>Date Planted</label>
                    <p class="shortAnswer">{{ plant_date }}</p>
                    <div class="tree-info-line"></div>

                    <label>Address</label>
                    <p class="shortAnswer">{{ address|title }}</p>
                    <div class="tree-info-line"></div>

                    <label>Neighbourhood</label>
                    <p class="shortAnswer">{{ neighbourhood|title }}</p>
                    <div class="tree-info-line"></div>
                    <h3 class="tree-type-more-info">More about {{ common_name|title }} Trees</h3>

                    <label>Description</label>
                    <p class="longAnswer">A medium to large sized tree, reaching heights of 18 to 27 metres (60 to 90 ft) and exceptionally over 35 metres (115 feet). The leaves are usually 9 to 11 centimetres (3 1⁄2 to 4 1⁄4 in) long on a full grown tree. The trunk diameter can range from 46 to 76 cm (18 to 30 in), depending on the growing conditions</p>

                    <label>Habitat</label>
                    <p class="longAnswer">One of the most abundant and widespread trees in eastern North America. It can be found from the south of Newfoundland, Nova Scotia and southern Quebec to the south west of Ontario, extreme southeastern Manitoba and northern Minnesota; south to Wisconsin, Illinois, Missouri, eastern Oklahoma, and eastern Texas in its western range; and east to Florida. It has the largest continuous range along the North American Atlantic Coast of any tree that occurs in Florida. In total it ranges 2,600 km (1,600 mi) from north to south.[6] The species is native to all regions of the United States east of the 95th meridian.</p>

                    <label>Uses (other than hugging)</label>
                    <p class="longAnswer">In the lumber industry Acer rubrum is considered a "soft maple", a designation it shares, commercially, with silver maple  It is also used in the production of maple syrup. It is a medium quality firewood.</p>
                {% endif %}

                <!--Food Tree Information Section -->
                {%  if food_id is not None %}
                    <label>Fruit Trees ID</label>
                    <p class="shortAnswer">{{ food_id }}</p>
                    <div class="tree-info-line"></div>

                    <label>Type of Hug</label>
                    <p class="shortAnswer">Hungry Hug</p>
                    <div class="tree-info-line"></div>

                    <label>Garden Name</label>
                    <p class="shortAnswer">{{ garden_name|title }}</p>
                    <div class="tree-info-line"></div>

                    {%  if year_created %}
                        <label>Creation Date</label>
                        <p class="shortAnswer">{{ year_created }}</p>
                        <div class="tree-info-line"></div>
                    {% endif %}

                    {%  if number_of_trees %}
                        <label>Number of Fruit Trees</label>
                        <p class="shortAnswer">{{ number_of_trees }}</p>
                        <div class="tree-info-line"></div>
                    {% endif %}

                    {%  if food_varieties %}
                        <label>Variety of Trees</label>
                        <p class="shortAnswer">{{ food_varieties|title }}</p>
                        <div class="tree-info-line"></div>
                    {% endif %}

                    <label>Address</label>
                    <p class="shortAnswer">{{ garden_address }} </p>
                    <div class="tree-info-line"></div>

                    <!--Uncomment after neighbourhood field has been added to Foodtree model and data added to foodtree dataset -->
                    {#                    <label>Neighbourhood</label>#}
                    {#                    <p class="shortAnswer">{{ garden_neighbourhood|title }}</p>#}
                    {#                    <div class="tree-info-line"></div>#}
                {% endif %}

                <!--Park Information Section -->
                {%  if park_id is not None %}
                    <label>Park ID</label>
                    <p class="shortAnswer">{{ park_id }}</p>
                    <div class="tree-info-line"></div>

                    <label>Type of Hug</label>
                    <p class="shortAnswer">Centre of Love</p>
                    <div class="tree-info-line"></div>

                    <label>Name</label>
                    <p class="shortAnswer">{{ park_name|title }}</p>
                    <div class="tree-info-line"></div>

                    <label>Size</label>
                    <p class="shortAnswer">{{ park_size }} Hectares</p>
                    <div class="tree-info-line"></div>

                    <label>Address</label>
                    <p class="shortAnswer">{{ park_address|title }}</p>
                    <div class="tree-info-line"></div>

                    <label>Neighbourhood</label>
                    <p class="shortAnswer">{{ park_neighbourhood|title }}</p>
                    <div class="tree-info-line"></div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if number_approved_photos > 0 %}
        <!-- Photo Section -->
        <div class="photos-title" id="orange-box">
            <h1 class="photos-title">Photos</h1>
        </div>
        {#        <div id="tree-detail-pink-box"></div>#}
    {% endif %}

    <!-- Form to Add a Photo-->
    <div class="row2-treeDetail">
        <form id="treephoto_form" method="post"
                {%  if tree_id is not None %}
              action="{% url 'add_tree_photo' tree_pk %}"
                {%  endif %}
                {%  if food_id is not None %}
              action="{% url 'add_food_photo' food_pk %}"
                {%  endif %}
                {%  if park_id is not None %}
              action="{% url 'add_park_photo' park_id %}"
                {%  endif %}
              enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_picture" class="custom-file-upload">
                <span class="plus">+</span> Add a Photo of
                {%  if tree_id is not None %}
                    Tree no.  {{ tree_id }}
                {%  endif %}
                {%  if food_id is not None %}
                    {% if last_word_of_name == 'Garden' %}
                        {{ garden_name }}
                    {% else %}
                        {{ garden_name }} garden
                    {% endif %}
                {%  endif %}
                {%  if park_id is not None %}
                    {% if last_word_of_name == 'Park' %}
                        {{ park_name }}
                    {% else %}
                        {{ park_name }} park
                    {% endif %}
                {%  endif %}
            </label>
            <input id="id_picture" type="file" name="picture"/>
            <script> // Auto-submits photo after photo is chosen
                document.getElementById("id_picture").onchange = function() {
                document.getElementById("treephoto_form").submit();};
            </script>
        </form>
    </div>

    <!-- Your Photo has been Added Modal -->
    {% if added %}
        <div id="addedModal" class="added-modal">
            <div class="modal-content">
                <span id="addedModalClose" class="close">&times;</span>
                <div class="container-form">
                    <p class="thank-you">Your photo has been received and is pending approval.</p>
                    <img class="photo-received"
                            {%  if tree_id is not None %}
                         alt="tree" src="{%  static 'images/tree-photo.png' %}">
                            {%  endif %}
                    {%  if food_id is not None %}
                        alt="food-tree" src="{%  static 'images/food-photo.png' %}">
                    {%  endif %}
                    {%  if park_id is not None %}
                        alt="park" src="{%  static 'images/park-photo.png' %}">
                    {%  endif %}
                </div>
            </div>
        </div>
    {%  endif %}

    <!-- Error in Adding Your Photo Modal -->
    {% if error %}
        <div id="addedModal" class="added-modal">
            <div class="modal-content">
                <span id="addedModalClose" class="close">&times;</span>
                <div class="container-form">
                    <p class="thank-you">Something went wrong. Please try and add your photo again.</p>
                    <img class="photo-received" alt="photo-error" src="{%  static 'images/error-photo.png' %}">
                </div>
            </div>
        </div>
    {%  endif %}

    <!-- Display Approved Photos -->
    <div class="row3-treeDetail">
        {% for tree_photo in tree_photos %}
            {% if tree_photo.approved %}
                <img class="tree-photo" src="{{tree_photo.picture.url}}" alt="tree image">
            {% endif %}
        {% endfor %}

        {% for park_photo in park_photos %}
            {% if park_photo.approved %}
                <img class="tree-photo" src="{{park_photo.picture.url}}" alt="park image">
            {% endif %}
        {% endfor %}

        {% for foodtree_photo in foodtree_photos %}
            {% if foodtree_photo.approved %}
                <img class="tree-photo" src="{{foodtree_photo.picture.url}}" alt="foodtree image">
            {% endif %}
        {% endfor %}
    </div>
    
    <!-- Map  and its Styling Script -->
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('tree-detail-map'), {
                center: {lat: 49.270831, lng: -123.15999},
                zoom: 17,
                gestureHandling: 'greedy',
                styles: [
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffebc5"
                            },
                            {
                                "lightness": "-10"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#b70046"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            },
                            {
                                "weight": "0.50"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#ff850a"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "color": "#c85b5b"
                            },
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#f79a55"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#a5a2a2"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "saturation": "-71"
                            },
                            {
                                "lightness": "-2"
                            },
                            {
                                "color": "#ffebc5"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#b2d5b6"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#c78888"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 45
                            },
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#675a4c"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#675a4b"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "color": "#7ccff0"
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#cfeae4"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#109579"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]
            });
        }
    </script>

    <!-- Google API Key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLLf1AL8ZMRKireBuRIL_n6XD3W3bD5qc&callback=initMap"
            async defer></script>

    <!-- Toggle heart - full/empty -->
    <script>
        // TODO: adding and removing to user's favourites list needs to be implemented
        var full = "{%  static 'images/heart-full.png' %}";
        var empty = "{%  static 'images/heart-empty.png' %}";
        var heart = document.getElementById('heart');

        heart.onclick = function() {
            var currentImage = heart.getAttribute('src');
            if (currentImage === full) {
                heart.src=empty;
            } else {
                heart.src=full;
            }
        }
    </script>

    <script>
        //  **** Added Modal Functionality ***** //

        // Variables for thank you modal
        var addedModal = document.getElementById('addedModal');
        var addedModalX = document.getElementById('addedModalClose');

        addedModalX.onclick = function() {
            hideElement(addedModal);
        }
    </script>
{% endblock %}